/data/*
!/data/.gitkeep
!/changelogs/.gitkeep
/results/
/Archive/
/changelogs/
/logs/
catboost_info/
best.txt
/scripts/__pycache__/

# Python cache and compiled files (exclude everywhere)
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd